:root{
    --color-white: #fff;
    --color-black1: rgb(49, 49, 49);
    --color-black2:  rgb(39, 38, 38);
    --color-blue1: rgb(63, 163, 230);
    --color-gray1: rgb(102, 102, 102);
}

body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.514) 50%, rgba(240, 244, 248, 0.808) 50%);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    height: 370vh;
}

/*========= Menu de Opções Responsivo ========*/

header{
    background-color: white;
    box-shadow: 0px 3px 10px rgb(49, 49, 49);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
    color: rgb(53, 53, 53);
    font-weight: bold;
}

.login-button button{
    border: none;
    background-color: rgb(41, 151, 224);
    padding: 10px 15px;
    border-radius: 5px;
}

.login-button button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1rem;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
}

#active{
    border: none;
    background-color: rgb(232, 232, 233);
    padding: 10px 15px;
    border-radius: 5px;
}

.open{
    display: block;
}

/*======== Conteúdo do site ========*/

.menu-soluções{
    background-color: #fff;
    width: 100%;
    height: 10%;
    position: absolute;
    top: 15%;
    padding-bottom: 2.5%;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.soluções{
    display: inline-flex;
}

.link-soluções{
    justify-content: space-between;
    padding: 0.1rem 6rem;
    text-decoration: none;
}

#conheça{
    font-size: 1.2rem;
    color: rgb(53, 53, 53);
    font-weight: 600;
    display: inline-flex;
}

.link-itens{
    font-size: 14px;
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-weight: 300;
}

h1{
    color: var(--color-black1);
    display: flex;
    position:absolute;
		left: 55px;
        top: 51%;
}

#linha-h1{
    width: 10%;
    height: 0rem;
    position:absolute;
    left: 55px;
    top: 59%;
    color: #3193f5;
}

#grafico-img{
    display: flex;
    position:absolute;
       left: 900px;
       top: 50%;
}

#lista-problema{
    font-weight: bold;
    font-size: 18px;
    color: var(--color-blue1);
    display: flex;
    position:absolute;
       left: 55px;
       top: 63%;
}

.item-problemas{
    font-weight: 500;
    font-size: 15px;
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#item1{
    position:absolute;
       left: 55px;
       top: 70%;
}

#item2{
    position:absolute;
       left: 55px;
       top: 76%;
}

#item3{
    position:absolute;
       left: 55px;
       top: 82%;
}

#o-que-e{
    color: var(--color-black1);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position:absolute;
       left: 55px;
       top: 100%;
}

#linha-o-que-e{
    width: 10%;
    height: 0rem;
    position:absolute;
       left: 55px;
       top: 108%;
    color: #3193f5;
}

#chamadas{
    color: var(--color-black1);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position:absolute;
       left: 55px;
       top: 116%;
}

#o-que-e-texto{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
       left: 55px;
       top: 124%;
}

#dois-celulares-brancos{
    display: flex;
    position:absolute;
       left: 980px;
       top:  116%;
}

#compatibilidade{
    color: var(--color-black1);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position:absolute;
       left: 55px;
       top: 146%;
}

#linha-compatibilidade{
    width: 10%;
    height: 0rem;
    position:absolute;
       left: 55px;
       top: 154%;
    color: #3193f5;
}

#compatibilidade-texto{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
       left: 55px;
       top: 162%;
}

#como-funciona{
    color: var(--color-black1);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position:absolute;
       left: 55px;
       top: 195%;
}

#linha-como-funciona{
    width: 10%;
    height: 0rem;
    position:absolute;
       left: 55px;
       top: 203%;
    color: #3193f5;
}

#texto1{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
       left: 300px;
       top: 237%;
}

#texto2{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 18%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
    left: 663px;
    top: 237%;
}

#texto3{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
       left: 1100px;
       top: 237%;
}

#atendente-verified-calls{
    position:absolute;
       left: 358px;
       top: 225%;
}

#engrenagens{
    position:absolute;
       left: 740px;
       top: 225%;
}

#celular-verified-calls{
    position:absolute;
    left: 1158px;
    top: 225%;
}

#beneficios{
    color: var(--color-blue1);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position:absolute;
       left: 55px;
       top: 270%;
}

#linha-beneficios{
    width: 10%;
    height: 0rem;
    position:absolute;
       left: 55px;
       top: 278%;
    color: #3193f5;
}

#beneficios-texto{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
       left: 55px;
       top: 285%;
}

#usos{
    color: var(--color-black1);
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position:absolute;
       left: 55px;
       top: 320%;
}

#linha-usos{
    width: 10%;
    height: 0rem;
    position:absolute;
       left: 55px;
       top: 328%;
    color: #3193f5;
}

#usos-texto{
    color: #424242;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    display: flex;
    position:absolute;
       left: 55px;
       top: 336%;
}

/*======== Rodapé com Informações ========*/

footer{
    width: 100%;
    color: rgb(0, 0, 0);
    box-shadow: 0px 3px 10px rgb(49, 49, 49);
}

#footer_content{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    color: black;
}

#footer_social_media .footer-link i{
    font-size: 1.50rem;
}

.footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-list .footer-link{
    color: rgb(51, 51, 51);
    transition: all 0.4s;
}

.footer-list .footer-link:hover{
    color: rgb(54, 110, 231);
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: black;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 4px;
}

#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    border: none;
    background-color: whitesmoke;
    color: black;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and(max-width: 768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and(max-width: 426px){
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}